[Unit]
Description=CoreOs Installer
After=dracut-initqueue.service
Wants=network-online.target network.target NetworkManager-wait-online.service
After=network-online.target network.target NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/bin/coreos-installer.sh
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
